@using Abp.Authorization.Users
<div>
    <form name="supplierCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.supplier.id">@L("EditSupplier"): {{vm.supplier.name}}</span>
                <span ng-if="!vm.supplier.id">@L("CreateNewSupplier")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img ng-if="vm.profilePictureId" ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                    <img ng-if="!vm.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                </div>
                <div class="col-sm-8">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.supplier.userName}" ng-model="vm.supplier.userName">
                        <label>@L("Name")</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="Address" class="form-control" ng-class="{'edited':vm.supplier.address}" ng-model="vm.supplier.address" required>
                        <label>@L("Address")</label>
                    </div>
                </div>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="tel" name="Phone" class="form-control" ng-class="{'edited':vm.supplier.phone}" ng-model="vm.supplier.phone" required>
                <label>@L("Phone")</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <select ng-model="vm.supplier.type" class="form-control" ng-options="type.name as type.name for  type in vm.types"></select>
                <label style="top:0px;">@L("Type")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.newsave()" ng-disabled="supplierCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>